html,
body,
#root {
  height: 100%;
  margin: 0;
}

.stack-table {
  font-size: small;
}

.home {
  position: relative;
  z-index: 1;
  height: 700px;
}

.socials {
  background: linear-gradient(to right, #f5deb300, #001b2744, #f5deb300);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.095) rgba(0, 0, 0, 0) rgb(0, 0, 0, 0.095) rgba(0, 0, 0, 0)  ;
  border-radius: 5px;
  border-width: 0.5px;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  width: 300px;
  justify-content: space-evenly;
  align-self: center;
}

.quick-link {
  list-style-type: none;
  margin: 10px;
  margin-left: -10px;
}



.social-link {
  list-style-type: none;
  margin: 10px;
  margin-left: -10px;
}

.about-me-box {
  color: white;
  text-shadow: -0.5px 1px black;
  width: 40%;
  font-size: x-large;
  margin-top: 5px;
  padding: 15px;
  justify-self: center;
}

.layout {
  min-height: 100%;
  z-index: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background: linear-gradient(315deg, #b3d0f5 3%, #7688a0 80%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.bubble {
  z-index: 0;
  border-radius: 100px 100px 100px 100px;
  border-color: rgb(255, 255, 255);
  border-width: 10px;
  border-style: solid;
  transform: translate(-150px, -100px);
  width: 300px;
  height: 300px;
  zoom: 500%;
  animation: wave 30s ease infinite;
  position: fixed;
  opacity: 15%;
}

.content {
  flex: 1;
}

.navbar {
  display: flex;
  z-index: 1;
  align-items: center;
  box-shadow: 0.5px 0.5px 10px 1px black;
  position: relative;
}

.my-nav-bar {
  background-color: #f5deb3;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.my-nav-link {
  color: forestgreen !important;
  text-decoration-line: underline;
}

.game-logo {
  width: 300px;
  height: 175px;
  padding: 10px;
}

.description-box {
  align-self: center;
  width: 300px;
  display: flex;
}

.game-block {
  position: relative;
  z-index: 6 !important;
  border-style: groove;
  border-radius: 5px;
  border-width: 2px;
  border-color: gray;
  background-color: antiquewhite;
  padding: 10px;
  margin: 25px;
}

.card-text {
  font-size: small;
}

.carousel {
  margin: 10px;
  display: block !important;
  align-self: center;
  width: 900px;
}

.game-screen {
  height: 500px;
  object-fit: cover;
}

.download-button {
  display: block;
  margin-top: 5px;
  text-align: center;
  background-color: #cce2ff;
  border-radius: 0 0 5px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: lch(65.11% 0.01 296.81);
  color: #332712;
  padding: 8px;
  text-decoration: none;
}

.download-button:hover {
  background: linear-gradient(to right, #cce2ff, #346ebb);
  background-size: 200% 200%;
  animation: buttonHover 0.35s ease ;
  background-position: 300px 100%;
}

.bubble:nth-child(1) {
  animation-delay: 0s;
}
.bubble:nth-child(2) {
  animation-delay: 3s;
}
.bubble:nth-child(3) {
  animation-delay: 7s;
}

@keyframes buttonHover {
    0% {
    background-position: 0px;
  }
  100% {
    background-position: 300px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes wave {
  2% {
    transform: translate(-150px, -100px);
    border-radius: 100px 100px 100px 100px;
    border-width: 1px;
  }

  25% {
    transform: translate(0px, -100px);
    border-radius: 100px 100px 50px 50px;

    border-width: 5px;
  }

  50% {
    transform: translate(150px, -100px);
    border-radius: 100px 100px 0 0;

    border-width: 10px;
  }

  75% {
    transform: translate(0px, -100px);
    border-radius: 100px 100px 50px 50px;

    border-width: 5px;
  }

  100% {
    transform: translate(-150px, -100px);
    border-radius: 100px 100px 100px 100px;

    border-width: 10px;
  }
}
